.login-page {
    display: flex;
    flex-direction: column; /* Organiser en colonne : formulaire + footer */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    min-height: 980px; /* Hauteur minimale égale à la taille de l'écran */
    padding: 20px; /* Ajouter un peu d'espace autour */
    background-color: var(--background-color);
  }
  
  .login-container {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombre pour un effet premium */
    text-align: center;
    width: 400px;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    font-size: 42px;
    color: var(--primary-color);
  }
  
  .login-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 28px;
  }
  
  .login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: 26px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .login-container input::placeholder {
    color: #888; /* Placeholder en gris clair */
  }
  
  .login-container button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    transform: scale(1.05); /* Zoom au survol */
  }