.car-preview-section {
  padding: 40px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.car-preview-title {
  font-size: 38px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.car-preview-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille responsive */
  gap: 20px;
  justify-content: center;
}

.car-card {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  overflow: hidden; /* Empêche les débordements */
}

.car-card:hover {
  transform: scale(1.05); /* Zoom au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.car-image {
  width: 100%; /* L'image occupe toute la largeur de la card */
  height: 200px; /* Hauteur fixe pour uniformiser les images */
  object-fit: cover; /* Recadre l'image pour qu'elle remplisse l'espace */
  border-radius: 8px; /* Coins arrondis pour les images */
  margin-bottom: 15px;
}

.car-name {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: bold;
}

.car-price {
  font-size: 26px;
  font-weight: bold;
  color: var(--text-color);
}

.car-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.car-card:hover .car-name {
  font-size: 35px; 
}

.car-card:hover .car-price {
  font-size: 25px;
  font-weight: bold; 
}

@media (max-width: 768px) {
  .car-preview-list {
    grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
    gap: 15px; /* Réduire l'espacement entre les cards */
  }
}