.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border-top: 1px solid var(--secondary-color);
}

.btn-theme {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-theme:hover {
  background-color: var(--secondary-color);
}