.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr; /* Réduire la largeur de l'image */
  align-items: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, var(--primary-color), var(--background-color)); /* Dégradé dynamique */
  color: var(--text-color); /* Couleur dynamique */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.hero-content {
  padding-right: 40px; /* Ajouter de l'espace entre le texte et l'image */
  text-align: center; /* Centrer le texte */
}

.hero-content h1 {
  font-size: 64px; /* Titre plus grand */
  margin-bottom: 20px;
  color: var(--text-color); /* Couleur dynamique */
}

.hero-content p {
  font-size: 24px; /* Texte plus grand */
  margin-bottom: 30px;
  line-height: 1.6; /* Meilleure lisibilité */
  color: var(--text-color); /* Couleur dynamique */
}

.hero-buttons {
  display: flex;
  justify-content: center; /* Centrer les boutons */
  gap: 20px;
}

.hero-buttons button {
  font-size: 24px; /* Boutons plus grands */
  padding: 20px 40px;
  background-color: var(--primary-color); /* Couleur dynamique */
  color: var(--text-color); /* Texte dynamique */
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-buttons button:hover {
  background-color: var(--secondary-color); /* Couleur secondaire au survol */
  color: var(--background-color); /* Texte inversé */
  transform: scale(1.1); /* Zoom au survol */
}

.hero-image img {
  max-width: 90%; /* Réduire la taille de l'image */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.container {
  max-width: 100%;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    padding: 10px 20px;
    text-align: center;
    grid-template-columns: 1fr; /* Une seule colonne sur mobile */
  }

  .hero-buttons button {
    font-size: 18px; /* Boutons plus petits */
    padding: 15px 30px;
  }

  .hero-image {
    display: none; /* Masquer l'image sur les petits écrans */
  }

  .hero-content {
    text-align: center; /* Centrer le texte */
    padding-right: 0px;
  }

  .hero-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}