.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr; /* Réduire la largeur de l'image */
  align-items: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #ff0000, #121212); /* Dégradé rouge-noir */
  color: var(--text-color);
}

.hero-content {
  padding-right: 40px; /* Ajouter de l'espace entre le texte et l'image */
  text-align: center; /* Centrer le texte */
}

.hero-content h1 {
  font-size: 64px; /* Titre plus grand */
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px; /* Texte plus grand */
  margin-bottom: 30px;
  line-height: 1.6; /* Meilleure lisibilité */
}

.hero-buttons {
  display: flex;
  justify-content: center; /* Centrer les boutons */
  gap: 20px;
}

.hero-buttons button {
  font-size: 24px; /* Boutons plus grands */
  padding: 20px 40px;
}

.hero-image img {
  max-width: 90%; /* Réduire la taille de l'image */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombre pour un effet premium */
}

.container {
  max-width: 100%;
  padding : 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero{
    padding: 10px 70px;
    text-align: center;
  }

  .hero-buttons button {
    font-size: 14px; /* Boutons plus grands */
    padding: 20px 40px;
  }

  .hero-image {
    display: none; /* Masquer l'image sur les petits écrans */
  }

  .hero-content {
    text-align: center; /* Centrer le texte */
    padding-right: 0px;
  }

  .hero-content h1 {
    font-size: 45px; 
    margin-bottom: 20px;
  }
}